<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluesky フィードチェッカー</title>
</head>
<body>
    <h1>Bluesky フィードチェッカー 登録フォーム</h1>
    <form action="/submit" method="post">
        <label for="account">Bluesky account:</label>
        <input type="text" id="account" name="account"><br><br>
        <label for="app_pass">App Password:</label>
        <input type="password" id="app_pass" name="app_pass"><br><br>
        <label for="feed_url">Feed URL:</label>
        <input type="text" id="feed_url" name="feed_url"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p class="error">{{ message }}</p>
    <h2>使用開始前の注意点</h2>
    <p>
        フォームに情報を登録する前に、{{ system_user }} とチャットができる状態であることの確認をお願いします。<br/>
        具体的には以下のいずれかの状態である必要があります。<br/>
        動作開始後は変更いただいて構いません。<br/>
        <ul>
            <li>パターンA（推奨）
                <ul>
                    <li>{{ system_user }} をフォローしている</li>
                    <li>チャット許可が「フォローしているユーザ」</li>
                </ul>
            </li>
            <li>パターンB
                <ul>
                    <li>チャット許可が「全員」</li>
                </ul>
            </li>
        </ul>
    </p>
    <h2>設定手順（仮）</h2>
    <h3>現在本サービスは開発中です。正常に動作しませんので登録はご遠慮いただけると助かります。</h3>
    <p>
        <ol>
            <li>Blueskyの設定画面からアプリパスワードを作成する
                <ul>
                    <li>「ダイレクトメッセージへのアクセスを許可」にチェック</li>
                    <li>他アプリパスワードとの使いまわしは避けてください</li>
                </ul>
            </li>
            <li>フォームの各項目を入力する</li>
            <li>DMが返ってくれば設定完了
                <ul>
                    <li>5～10分ほどお待ちください</li>
                    <li>最初の更新時は最新の1件をつぶやきます</li>
                </ul>
            </li>
        </ol>
    </p>
    <h2>設定解除手順（仮）</h2>
    <p>
        考え中・・・<br/>
        案1：Blueskyの設定からアプリパスワードを削除<br/>
        案2：チャットに「削除」みたいなメッセージを送信<br/>
    </p>
</body>
</html>
